.test-item {
    background-color: @item-color;
    padding: @item-padding;
    position: relative;
    border: @item-border;
    margin-bottom: 2px;
}

.test-item label {
    background-color: transparent;
    line-height: 32px;
    padding: 0px;
    float: left;
    .dir-rtl & {
        float: right;
    }
    text-align: center;
    cursor: default;
    color: @item-text-color;
}

.test-item-prefix,
.test-item-suffix {
    width: 20%;
}

.test-item-textbox {
    box-sizing: border-box;
    padding: 0 5px;
    width: 100%;
    float: left;
    .dir-rtl & {
        float: right;
    }
    height: 26px;
    &.test-validation-error {
        border: 2px solid @validation-error-border-color;
    }
}

.test-item {
    &.prefix,
    &.suffix {
        .test-item-textbox {
            width: 80%
        }
    }
    &.prefix.suffix {
        .test-item-textbox {
            width: 60%
        }
    }
    &.suffix {
        .test-item-state {
            margin-right: 20%;
            .dir-rtl & {
                margin-right: inherit;
                margin-left: 20%;
            }
        }
    }
}

.test-widget {
    &.submitted {
        .test-item {
            background-color: @item-color-disabled;
        }
    }

    &.show-user-answer {
        .incorrect {
            .test-incorrect-icon {
                display: block;
            }
        }
        .correct {
            .test-correct-icon {
                display: block;
            }
        }
    }

    &.show-correct-answer {
        .test-select-icon {
            display: none;
        }
        .correct .test-correct-icon {
            display: block;
        }
    }

    .test-item-state {
        background: none;
        position: absolute;
        right: (@icon-size/2);
        .dir-rtl & {
            right: inherit;
            left: (@icon-size/2);
        }
        width: @icon-size;
        height: @icon-size;
        top: 50%;
        margin-top: -(@icon-size/2);
        z-index: 0;
    }

    .test-correct-icon {
        color: @icon-correct-color;
        display: none;
    }

    .test-incorrect-icon {
        color: @icon-incorrect-color;
        display: none;
    }
}
